@import "src/@fuse/scss/fuse";

.mat-table {
  width: 100%;

  .mat-column-avatar {
    width       : 50px;
    padding-left: 5px;
  }
  
  .mat-column-name {
    width       : 120px;
    padding-left: 5px;
  }
  
  .mat-column-email {
    width       : 150px;
    padding-left: 5px;
  }

  .mat-column-courseview {
    width       : 35px;
  }
}
#add-contact-button {
  position: fixed;
  bottom  : 12px;
  right   : 12px;
  padding : 0;
  z-index : 99;

  // @include media-breakpoint('xs') {
  //   position: sticky;
  //   top     : calc(100vh - 120px);
  //   bottom  : auto;
  // }
}