@import "src/@fuse/scss/fuse";

#landing-page {
  
    .header {
        position: relative;
        flex: 1 0 auto;
        height: 100%;
        text-align: center;
        overflow: hidden;
        background-image: url(assets/images/logos/landing.jpg);
        background-size: cover;
    
        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        .hero-text {
            position: absolute;
            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
    }
}

.save-button
{
    background:red!important;
    color: white!important;
    margin-bottom: 20px;
    height: 50px;
}

.p-24 {
    padding: 15px !important;
}
.mr-24 {
    margin-right: 0px !important;
}