@import "src/@fuse/scss/fuse";

.mat-table {
  width: 100%;

  @include media-breakpoint('xs') {
    .mat-column-course_name {
      width       : 90px;
      padding-left: 5px;
    }

    .mat-column-from_date {
      width       : 65px;
      padding-left: 5px;
    }

    .mat-column-from_date {
      width       : 65px;
      padding-left: 5px;
    }

    .mat-column-course_content {
      width       : 120px;
      padding-left: 5px;
    }
  }
}

#add-contact-button {
  position: fixed;
  bottom  : 12px;
  right   : 12px;
  padding : 0;
  z-index : 99;

  // @include media-breakpoint('xs') {
  //   position: sticky;
  //   top     : calc(100vh - 120px);
  //   bottom  : auto;
  // }
}