<section class="clean-block clean-hero"
  style="background-image:url(&quot;frontend/assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
  <div class="text">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
      leo.</p>

    <button class="btn btn-outline-light btn-lg" type="button"> <a style="color:darkslategrey;" class="nav-link"
        [routerLink]="['/contactus']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">CONTACT
        US</a>
    </button>
  </div>
</section>