<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let trainer">
            <mat-checkbox [(ngModel)]="checkboxes[trainer.id]" (ngModelChange)="onSelectedChange(trainer.id)"
                (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let trainer">
            <img class="avatar" *ngIf="trainer.pic" [alt]="trainer.pic" [src]="urlHeader+trainer.pic" />
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let trainer">
            <p class="text-truncate font-weight-600">{{trainer.first_name}} {{trainer.last_name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="school">
        <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef>School Name</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let trainer">
            <p class="text-truncate font-weight-600">{{trainer.school_name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Role</mat-header-cell>
        <mat-cell *matCellDef="let trainer" fxHide fxShow.gt-md>
            <p class="text-truncate font-weight-600">{{trainer.role_name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Email</mat-header-cell>
        <mat-cell *matCellDef="let trainer" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{trainer.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
        <mat-cell *matCellDef="let trainer" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{trainer.mobile_phone}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Comments</mat-header-cell>
        <mat-cell *matCellDef="let trainer" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{trainer.bio}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Since Date</mat-header-cell>
        <mat-cell *matCellDef="let trainer" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{trainer.created_at}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let trainer">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)"
                    aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact.id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact.id)">star_border</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteTrainer(trainer)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row *matRowDef="let trainer; columns: displayedColumns;" class="trainer" (click)="editTrainer(trainer)"
        [ngClass]="{'accent-50':checkboxes[trainer.id]}" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row> -->

    <mat-row *matRowDef="let trainer; columns: displayedColumns;" class="trainer" matRipple
        [routerLink]="'/apps/trainer/trainer/'+trainer.id">
    </mat-row>

</mat-table>