<section class="clean-block clean-info dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Welcome</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
        leo.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6"><img class="img-thumbnail" src="frontend/assets/img/scenery/image5.jpg"></div>
      <div class="col-md-6">
        <h3>Lorem impsum dolor sit amet</h3>
        <div class="getting-started-info">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <button class="btn btn-outline-primary btn-lg" type="button" (click)="OnContacUS()">CONTACT US</button>
      </div>
    </div>
  </div>
</section>
<section class="clean-block features">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Running School Roles</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
        leo.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
        <h4>SuperAdministrator</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
        <h4>School Manager</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
        <h4>Personal Trainer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
        <h4>Welcome Athletes</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
    </div>
  </div>
</section>

<section class="clean-block slider dark">
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img class="d-block w-100" [src]="images1" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img class="d-block w-100" [src]="images2" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img class="d-block w-100" [src]="images3" alt="Random first slide">
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section class="clean-block about-us" id="about-us">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
        leo.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block"
            src="frontend/assets/img/avatars/avatar1.jpg">
          <div class="card-body info">
            <h4 class="card-title">John Smith</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                  class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block"
            src="frontend/assets/img/avatars/avatar2.jpg">
          <div class="card-body info">
            <h4 class="card-title">Robert Downturn</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                  class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block"
            src="frontend/assets/img/avatars/avatar3.jpg">
          <div class="card-body info">
            <h4 class="card-title">Ally Sanders</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                  class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>